.ant-page-header-content {
  .ant-card-body + .ant-card-actions {
    li > span {
      cursor: default !important;
      &:hover {
        color: inherit !important;
      }
    }

    .ant-space {
      width: 100%;
      margin: 0 !important;
      padding: 12px 24px;

      &-item {
        width: 100%;
      }
    }
  }
}

.ant-btn {
  &-link {
    color: $primary-color !important;
    padding: 0 !important;
  }
}
